/* .korb {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding: 10px;
}

.korb img {
    width: 100px;
    height: 100px;
    object-fit: cover;

} */